*.png
**/__pycache__
*.pickle
*.npy
tmp
tsne_plots/
tensorboard*
logs/
generated-data/
data/*
!data/README.md
!data/gazemae_outputs/
data/gazemae_outputs/*
!data/gazemae_outputs/README.md
!gazemae/data/

# additional
**/.DS_Store
.vscode/
